# ===========================
# Data Folder
# ===========================
data/

# ===========================
# macOS
# ===========================
.DS_Store
.DS_Store?
._*

# ===========================
# Modelle & Checkpoints
# ===========================
checkpoints/
.ipynb_checkpoints/
*.ipynb_checkpoints

# ===========================
# Python
# ===========================
__pycache__/

# ===========================
# Kaggle
# ===========================
*.zip
kaggle.json

